.main-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    padding: 50px;
    margin-top: 100px;
    border-radius: 20px;
    opacity: 0.8;
    background-image: url('../images/wallpaper-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 300px;
}

.main-question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 30vh;
    margin-top: 30px;
}
.main-answer-container { 
    display: flex;
    width: 100%;
    height: 5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    opacity: 0.9;
    text-transform: uppercase;
}

.main-answer-container h3 {
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(49, 49, 49);
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}


.question-container, select, .submit-button-form1, .submit-button-form2  {

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.question-container:hover, 
select:hover,
.submit-button-form1:hover, 
.submit-button-form2:hover, 
.question-container:focus,
select:focus, 
.submit-button-form1:focus,
.submit-button-form2:focus,
.question-container:active, 
select:active,
.submit-button-form1:active,
.submit-button-form2:active
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.difficulty-thematic-main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(0, 255, 242);
    background-image: url('../images/accesorios-juegos-caseros-vista-superior_23-2148234812.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 27%;
    height: 40vh;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
}


.difficulty-thematic-main-container h3 {
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

#theme {
    height: 10vh;
}

.label-select {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

select {
    border: none;
    text-decoration: none;
    height: 10vh;
    font-family: 'Chakra Petch', sans-serif;
}

.select-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 20%;
}

select:focus { 
    outline: none; 
}


.submit-button-form1 {
    border: none;
    width: 130px;
    height: 40px;
    font-family: 'Orbitron', sans-serif;
    margin: 15px;

}

.submit-button-form2 {
    border: 2px solid black;
    width: 190px;
    height: 50px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 25px;
    background-color: rgb(109, 107, 245);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#id-main-form-header {
    display: none;
}

.time-container h4 {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: rgb(0, 53, 70);
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.time-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.circle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 56, 121);
    height: 7vh;
    width: 3vw;
    text-align: center;
    border-radius: 100px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    opacity: 0.7;
}